@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 23% 95%;
    /* Base */
    --foreground: 234 16% 35%;
    /* Text */
    --muted: 220 23% 95%;
    /* Base */
    --muted-foreground: 232 10% 53%;
    /* Overlay 2 */
    --popover: 220 21% 89%;
    /* Crust */
    --popover-foreground: 234 16% 35%;
    /* Text */
    --card: 220 22% 92%;
    /* Mantle */
    --card-foreground: 234 16% 35%;
    /* Text */
    --border: 223 16% 83%;
    /* Surface 0 */
    --input: 223 16% 83%;
    /* Surface 0 */
    --primary: 220 91% 54%;
    /* Blue */
    --primary-foreground: 220 23% 95%;
    /* Base */
    --secondary: 220 91% 85%;
    /* Blue Modified */
    --secondary-foreground: 234 16% 35%;
    /* Text */
    --accent: 234 16% 35%;
    /* Text */
    --accent-foreground: 220 23% 95%;
    /* Base */
    --destructive: 347 87% 44%;
    /* Red */
    --destructive-foreground: 220 23% 95%;
    /* Base */
    --ring: 220 91% 54%;
    /* Blue */
    --radius: 0.3rem;
  }

  .dark {
    --background: 222 48% 11%;
    --foreground: 0 0% 100%;
    --card: 216 32% 17% / 0.3;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 262 83% 58%;
    --primary-hover: 266 72% 50%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 216 32% 17%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 276 90% 65%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;

  }
}

@layer base {
  * {
    @apply border-border scroll-smooth;
  }

  body {
    @apply bg-background text-foreground;
  }
}