---
import Layout from '../layouts/Layout.astro'
import { Button } from '@/components/tsx/ui/button'
import HeaderTitle from '@/components/home/HeaderTitle.astro'

const { Title, subTitle } = Astro.props
---

<Layout title="Welcome to Your App">
  <div class="flex flex-col items-center justify-center space-y-8 text-center">
    <HeaderTitle
      Title="Openfav-refactor"
      subTitle="A modern full-stack application built with Astro, React, and Supabase."
    />
    <div class="flex gap-4">
      <a href="/build/users">
        <Button>Posts Component</Button>
      </a>
      <a href="/build/test">
        <Button variant="outline">Test Nanostore</Button>
      </a>
      <a href="/build/main">
        <Button variant="secondary">Test Main</Button>
      </a>
    </div>
  </div>
</Layout>

<style>
  #root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }

  .logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
  }

  .logo:hover {
    filter: drop-shadow(0 0 2em rgba(100, 108, 255, 0.667));
  }
  .logo.react:hover {
    filter: drop-shadow(0 0 2em rgba(97, 218, 251, 0.667));
  }

  @keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  @media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
      animation: logo-spin infinite 20s linear;
    }
  }
</style>
