---
// src/pages/index.astro
import Navbar from '@/components/tsx/common/Navbar.tsx'
import Dashboard from '@/components/tsx/main/Dashboard.jsx' // React (isola interattiva)
import Landing from '@/pages/main.astro' // Statico
import { useStore } from '@nanostores/react'
import { userStore, loadingStore, initializeAuth } from '@/store/authStore'

// Inizializza l'autenticazione
initializeAuth()

const user = useStore(userStore)
const loading = useStore(loadingStore)

// Lista di componenti
const componentList = [
  { name: 'Navbar' },
  { name: user ? 'Dashboard' : 'Landing' },
]

const components = {
  Navbar,
  Dashboard,
  Landing,
}
---

<Navbar client:only />
{
  loading ? (
    <p>Loading...</p>
  ) : (
    componentList.map(({ name }) => {
      const Component = components[name]
      if (name === 'Dashboard') {
        return <Component client:load />
      }
      return <Component />
    })
  )
}
