---
import Layout from '~/layouts/ThemeLayout.astro';
import { SessionManagerTest } from '~/react/components/debug/DebugSession';
---

<Layout title="Session Manager Test">
  <div class="container mx-auto p-4">
    <SessionManagerTest client:load />
  </div>
</Layout>