---
import Wrapper from './main/Wrapper.astro'

const {
    id,
    isDark = false,
    classes = {},
    bg = await Astro.slots.render('bg')    

} = Astro.props

---
<Wrapper id={id} isDark={isDark} containerClass={`max-w-7xl mx-auto ${classes?.container ?? ''}`} bg={bg}>
    <span class="dark:hidden"><h1>Hello World!</h1></span>
</Wrapper>

