---
// src/pages/index.astro
import { useStore } from '@nanostores/react'
import Navbar from '@/components/tsx/common/Navbar.tsx'
import Dashboard from '@/components/tsx/main/Dashboard.jsx' // React (isola interattiva)
import Landing from '@/pages/main.astro' // Statico
import { userStore, loadingStore, initializeAuth } from '@/store/authStore'
import Layout from '@/layouts/MainLayout.astro'

// Inizializza l'autenticazione
initializeAuth()

const user = useStore(userStore)
const loading = useStore(loadingStore)

// Lista di componenti
const componentList = [
  { name: 'Navbar' },
  { name: user ? 'Dashboard' : 'Landing' },
]

const components = {
  Navbar,
  Dashboard,
  Landing,
}
---

<Layout title="test">
  <Navbar client:only />
  {
    loading ? (
      <p>Loading...</p>
    ) : (
      componentList.map(({ name }) => {
        const Component = components[name]
        if (name === 'Dashboard') {
          return <Component client:load />
        }
        return <Component />
      })
    )
  }
</Layout>
