---
import '@/styles/globalsV0.css'
import '@/styles/custom.css'
import { ThemeProvider } from '@/components/tsx/theme-provider'
import RouterAdapter from '~/components/tsx/base/RouterAdapter'
import Navbar from '~/components/tsx/common/Navbar'
import WrNavbar from '@/components/tsx/base/WrappedNavbar'
//import Navbar from '@/components/common/NavbarTemp.astro'
import { NavigationProvider } from '~/hooks/NavigationContext'
import AppClient from '~/components/tsx/builders/AppClient'

interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Modern full-stack application with Astro and React"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <ThemeProvider client:load>
      <AppClient client:load />
      <!--<div class="min-h-screen bg-background">
        <main class="container py-6">
          <RouterAdapter client:load>
            <Navbar client:load />
          </RouterAdapter>
          <slot />
        </main>
      </div>
       -->
    </ThemeProvider>
  </body>
</html>
